<!-- MAIN  -->

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/stylesheet.css" />

    <title>CSS Residency</title>
  </head>

  <body>
    <header
      class="d-flex justify-content-between sticky-top border-bottom border-2 border-dark"
      style="background-color: LightSkyBlue;"
    >

      <div>
        <p>
          <p
            class="my-2 mx-3 fw-bold"
            style="font-size: 20px"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseExample"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            Menu
          </p>
        </p>

      </div>

      {{#if loggedIn}}
      <div class="d-flex">
        <nav class="d-flex justify-content-between mx-4">
          <span><a href="/dashboard"><p class="my-2 fw-bold btn" style="font-size: 20px">Dashboard</p></a></span>
        </nav>
        <nav class="d-flex justify-content-between mx-4">
          <p class="my-2 fw-bold btn logout" style="font-size: 20px">Logout</p>
        </nav>
      </div>
      {{else}}
        <nav class="d-flex justify-content-between mx-4">
          <a class="text-decoration-none text-dark" href="/dashboard/login"><p
              class="my-3 fw-bold"
              style="font-size: 20px;"
            >Login</p></a>
        </nav>
      {{/if}}
    </header>

    <div>
        <div class="collapse" id="collapseExample">
        <div class="card card-body  " >
          <div class="d-flex flex-row justify-content-around mb-3">
            <span><a class="text-decoration-none text-dark fw-bold border-bottom border-dark border-2" href="/homepage">Homepage</a></span>
            {{#if loggedIn}}
            <span><a class="text-decoration-none text-dark fw-bold border-bottom border-dark border-2" href="/homepage/posts/1">Posts</a></span>
            {{/if}}
            <span><a class="text-decoration-none text-dark fw-bold border-bottom border-dark border-2" href="#">About Us</a></span>
            <span><a class="text-decoration-none text-dark fw-bold border-bottom border-dark border-2" href="#">Rules</a></span>
            <span><a class="text-decoration-none text-dark fw-bold border-bottom border-dark border-2" href="#">Contact Info</a></span>
          </div>
          <p class="text-center mb-0">&copy;2022 C-S-S Neighbourhoods By: Alex, Blerand &amp; Dedrie</p>
        </div>
        
        </div>
    </div> 

    <!-- MAIN -->

    {{{body}}}

    <!-- MAIN -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>

<!-- MAIN -->