<body class="image-one image-options">
  <section class="welcome-message text-center">
    <h2 class="fw-bold mb-4">About Us</h2>
    <p class="fw-bold"> C-S-S Neighbourhood brings the beauty and relaxation of the intracoastal lifestyle right to our residents’ front door. 
      <br>
      This gorgeous intracoastal property features the finest amenities at an unbeatable location, 
      making C-S-S the best option for Miami residents.
      Choose between luxurious one bedroom, two bedroom, and three bedroom floor plans with open and contemporary 
      designs at our vilas in . Once you’ve found the perfect layout, 
      enjoy the intracoastal water views from the comfort of your private yard and experience 
      the serenity of living at a waterfront house as you watch the boats go by. 
      <br>
      Our C-S-S vilas
      also include WiFi enabled common areas, a waterfront pet park, a beach entry heated
      saltwater pool, a community garden and car charging stations for residents’ added convenience.
    </p>
  </section>
</body>