<body class="image-one image-options">
  <section class="welcome-message text-center">
    <h2 class="fw-bold mb-4">About Us</h2>
    <p class="fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus,
      veritatis esse dignissimos dolor amet magni ipsam non reiciendis
      aspernatur dolores velit eum, hic temporibus. Placeat obcaecati
      consequuntur error. <br><br> Distinctio blanditiis voluptates illum optio dolorem
      aliquid quo quaerat impedit fugiat incidunt quibusdam alias perferendis
      consectetur error officiis ullam, adipisci dicta enim iste maxime delectus
      quam praesentium. Tempore ducimus quod accusamus placeat, minus aperiam
      animi ipsum necessitatibus voluptas? Adipisci atque sit, dolor minus
      exercitationem blanditiis quidem, harum ab quis perspiciatis optio sunt
      aut obcaecati qui odit repellat quae nam saepe maxime. Vero doloribus
      facere dignissimos aut beatae explicabo, vitae nam sequi rem, modi
      inventore quo nesciunt esse, natus molestias. <br><br> Vel ab modi, tenetur
      consectetur dicta nesciunt quas nam alias dolorum ratione odit cumque quo
      nisi recusandae voluptatum! Architecto cumque ipsum, repudiandae enim, ut
      accusamus eius in quidem sequi veritatis deleniti illo, exercitationem
      molestias voluptate non. Quam dolore labore tenetur doloremque aliquam
      fuga. Fuga ratione iure excepturi quaerat dolor quas, nihil qui repellat
      aperiam quisquam voluptate rem maxime fugit odio fugiat saepe explicabo
      illum at delectus in. Obcaecati voluptate cupiditate tenetur blanditiis
      libero placeat aut aliquid, numquam et nihil quasi possimus perferendis
      eos eveniet labore ducimus enim. Nihil expedita beatae voluptatibus id
      harum?</p>
  </section>
</body>