<body class="image-three image-options">
    <section class="welcome-message text-center mt-5">
        <h2 class="fw-bold mb-5">File a formal complaint.</h2>
        
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"><h4 class="fw-bold">Title</h4></label>
            <input type="title" class="form-control mx-auto n-title" id="exampleFormControlInput1">
        </div>

        <h4 class="fw-bold">Reason for complaint</h4>
        <input type="reason" class="form-control mx-auto my-4 n-title" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
        <datalist id="datalistOptions">
            <option value="Issue with a Neighbor">
            <option value="Issue with the Neighborhood Conditions">
            <option value="Issue with Household Conditions"></option>   
            <option value="Issue with C-S-S Staff">
            <option value="Issue with the C-S-S Website">
        </datalist>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"><h4 class="fw-bold">Body</h4></label>
            <textarea name="body" class="form-control mx-auto n-title" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div class="text-center">
            <button id="submit-complaint" name="submit" class="btn btn-info">Submit Complaint</button>
        </div>
    </section>
    
</body>

<script src="/js/complaint.js"></script>