<body class="image-three image-options">
    <section class="welcome-message text-center mt-5">
        <h2 class="fw-bold mb-5">Show your love for C-S-S and leave a compliment!</h2>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"><h4 class="fw-bold">Title</h4></label>
            <input type="title" class="form-control mx-auto n-title" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"><h4 class="fw-bold">Body</h4></label>
            <textarea name="body" class="form-control mx-auto n-body" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div class="text-center">
            <button id="submit-compliment" class="btn btn-info">Submit Compliment!</button>
        </div>
    </section>
    
</body>

<script src="/js/compliment.js"></script>