<body class="image-one image-options">
  <section class="welcome-message text-center fw-bold my-5">
    <h2 class="fw-bold mb-4">Contact us</h2>
    <p>Phone Number: 561-883-9889</p>
    <br>
    <p>Email us at cssluxyry@node.com</p>
    <br>
    <p>Come visit us at 1043 JavaScript Rd, Miami, FL </p>
    <br>
    <h4 class="fw-bold">Contact the admins</h4>
    <div class="">
      <a href="https://github.com/Alexnj1" class="text-decoration-none mx-4 border-bottom border-dark border-2 text-dark" target="_blank">Alex Noble-James</a>
      <a href="https://github.com/Dedriep" class="text-decoration-none mx-4  border-bottom border-dark border-2 text-dark" target="_blank">Dedrie Peart</a>
      <a href="https://github.com/BlerandIsm" class="text-decoration-none mx-4  border-bottom border-dark border-2 text-dark" target="_blank">Blerand Ismaili</a>
    </div>

  </section>
</body>