<body class="image-three">
    
        <div class="text-center col-auto row mb-5 w-50 mx-auto g-3 justify-content-center flex-column welcome-message">
            <button class="btn btn-secondary mx-2 fw-bold ">
                <p class="my-auto">Neighborhood <br> News</p>
            </button>
            <button class="btn btn-secondary mx-2 fw-bold">
                <p class="my-auto">File a <br> Formal Complaint</p>
            </button>
            <button class="btn btn-secondary mx-2 fw-bold">
                <p class="my-auto"> Create an<br> Event</p>
            </button>
            <button class="btn btn-secondary mx-2 fw-bold">
                <p class="my-auto"> Show some <br> Love for C-S-S</p>
            </button>
        </div>
        
</body>