<!-- LANDING PAGE -->
    <body style="background-image: url(https://www.moneycrashers.com/wp-content/uploads/2018/12/tips-find-best-neighborhood-live-in.jpg); background-size: cover;">
        <div class="text-center my-5">
           <h1>The C-S-S Neighborhood Blog</h1> 
           <img class="border border-solid border-dark border-4 mt-5" src="https://image.shutterstock.com/image-vector/creative-neighborhood-logo-minimal-detailing-260nw-1244923747.jpg" alt="">
        </div>

        <div class="text-center">
            <button class="btn btn-secondary mx-2 fw-bold">
                <p class="my-auto">Neighborhood <br> Posts</p>
            </button>
            <button class="btn btn-secondary mx-2 fw-bold">
                <p class="my-auto">File a <br> Formal Complaint</p>
            </button>
            <button class="btn btn-secondary mx-2 fw-bold">
                <p class="my-auto">Apply for <br>  C-S-S Residency</p>
            </button>
        </div>
        
    </body>

    <!-- LANDING PAGE -->