<!-- LANDING PAGE -->
    <div class="text-center my-5 fw-bold ">
           <h1>The C-S-S Neighborhood</h1> 
           <img class="border border-solid border-dark border-4 mt-5" src="/images/logo.png" alt="">
    </div>

    <body class="image-one">
        
    </body>

    <!-- LANDING PAGE -->