<!-- LANDING PAGE -->


{{!-- <div class="text-center my-5 fw-bold d-none d-md-block">
    <h1 class="welcome-message" style="font-family: 'Lobster', cursive;">The C-S-S Neighborhood</h1> 
    <img class="border border-solid border-dark border-4 mt-5" src="/images/logo.png" alt="">
</div>   --}}

<div class="text-center my-5 fw-bold  d-block">
    <h1 class="welcome-message" style="font-family: 'Lobster', cursive;">The C-S-S Neighborhood</h1> 
    <img id="logo" class="border border-solid border-dark border-4 mt-5" src="/images/logo.png" alt="">
</div> 

<body class="image-one image-options">
        
</body>

<!-- LANDING PAGE -->