<!-- LANDING PAGE -->
    <div class="text-center my-5 fw-bold ">
           <h1>The C-S-S Neighborhood</h1> 
           <img class="border border-solid border-dark border-4 mt-5" src="https://image.shutterstock.com/image-vector/creative-neighborhood-logo-minimal-detailing-260nw-1244923747.jpg" alt="">
    </div>

    <body class="image-one">
        
    </body>

    <!-- LANDING PAGE -->