<section
  class="text-center d-flex flex-column my-5 justify-content-center"
>

  <div class="welcome-message">
    <h2 class="my-5 fw-bold text-light ">WELCOME TO THE C-S-S NEIGHBORHOOD</h2>

    <form class="row mb-5 w-100 mx-auto g-3 justify-content-center flex-column">
      <div class="col-auto">
        <label for="input" class="visually-hidden">Email</label>
        <input
          type="email"
          placeholder="Email"
          class="form-control l-username"
          id="staticEmail2"
        />
      </div>
      <div class="col-auto">
        <label for="inputPassword2" class="visually-hidden">Password</label>
        <input
          type="password"
          class="form-control l-password"
          id="inputPassword2"
          placeholder="Password"
        />
      </div>
      
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">LOGIN</button>
        <p class="fw-bold text-light">Can't Log in? <br><br> C-S-S Neighbourhoods provides login information upon acceptance of residency. Contact an administrator or <span><a class="text-light" href="/homepage/register">register your residency</a></span></p>
      </div>
    </form>
  </div>

</section>


<body class="image-two image-options">
  
</body>

<script src="/js/login.js"></script>