<body class="image-six image-options">
    <div class="welcome-message text-light">
        <h2 class="fw-bold text-center my-3">Recently Joined Our Community?</h2>
        <h3 class="fw-bold text-center my-3">Register Your Household Now!</h3>

        <div class="my-5 text-light" style="width: 60vw; text-align:; margin:auto">
            <h5 class="fw-bold">Your Household Username</h5>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <h5 class="fw-bold">Your Household Email</h5>
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="New Email Address" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text d-sm-inline-block d-none" id="basic-addon2">@luxury.com</span>
            </div>

            <h5 class="fw-bold">Your Password</h5>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="New Password" aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>

            <div class="text-center">
                <button name="register" class="btn btn-info">Register!</button>
            </div>
            
        </div>   
    </div>
</body>

<script src="/js/register.js"></script>