<body class="image-one text-light image-options">
  <section class="welcome-message">
    <h2 class="fw-bold mb-4 text-center">Rules</h2>
    <h4 class="fw-bold border-bottom border-solid border-light text-center"> Neighborhood Rules </h4>

    <div class="text-left">
        <ul class="fw-bold my-3">
            <li>Keep the community clean and safe</li>
            <li>Be aware of your surroundings</li>
            <li>Park at the designated area</li>
            <li>Respect the speed limit</li>
            <li>Be aware of the quiet hours</li>
            <li>Contact the office for any emergencies </li>
            <li>Take into consideration the wild life around you </li>
        </ul>  
    </div>

        <h4 class="fw-bold border-bottom border-solid border-light text-center"> Website Rules </h4>

        <div class="text-left">
            <ul class="fw-bold my-3">
                <li>Be respectful</li>
                <li>Don't post or share inappropriate material</li>
                <li>Be aware of strong language, all caps, and exclamation points</li>
                <li>Do not target specific neighbours in your posts</li>
                <li>Do not share sensitive and private information</li>
                <li>Use this portal to spread positivity</li>
            </ul>  
        </div>

    
  </section>
</body>
