<body class="image-one image-options">
  <section class="welcome-message">
    <h2 class="fw-bold mb-4 text-center">Rules</h2>
    <h4 class="fw-bold border-bottom border-solid border-dark text-center"> Neighborhood Rules </h4>

    <div class="text-left">
        <ul class="fw-bold my-3">
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, accusamus?</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ex debitis, sit minima eveniet unde.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, sed?</li>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur culpa dolore natus?</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt consectetur distinctio eaque illo nemo modi consequatur rem sit repellendus dolorem!</li>
        </ul>  
    </div>

        <h4 class="fw-bold border-bottom border-solid border-dark text-center"> Website Rules </h4>

        <div class="text-left">
            <ul class="fw-bold my-3 text-dark">
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, accusamus?</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ex debitis, sit minima eveniet unde.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, sed?</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur culpa dolore natus?</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt consectetur distinctio eaque illo nemo modi consequatur rem sit repellendus dolorem!</li>
            </ul>  
        </div>

    
  </section>
</body>
