<div>
  <div class="collapse collapse-horizontal" id="collapseWidthExample">
    <div class="card card-body" style="width: 300px; height: 100vh;">
      <ul class="list-group list-group-flush">
        <span><a class="text-decoration-none" href="#"><li
              class="list-group-item my-3 fs-3"
            >About Us</li></a></span>
        <span><a class="text-decoration-none" href="#"><li
              class="list-group-item my-3 fs-3"
            >Rules</li></a></span>
        <span><a class="text-decoration-none" href="#"><li
              class="list-group-item my-3 fs-3"
            >Contact Info</li></a></span>
      </ul>
    </div>
  </div>
</div>

<section
  class="text-center d-flex flex-column justify-content-center image-two"
>

  <div class="welcome-message">
    <h2 class="my-5 fw-bold text-light ">WELCOME TO THE C-S-S NEIGHBORHOOD</h2>

    <form class="row mb-5 w-50 mx-auto g-3 justify-content-center flex-column">
      <div class="col-auto">
        <label for="input" class="visually-hidden">Email</label>
        <input
          type="text"
          placeholder="Username"
          class="form-control"
          id="staticEmail2"
        />
      </div>
      <div class="col-auto">
        <label for="inputPassword2" class="visually-hidden">Password</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword2"
          placeholder="Password"
        />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">LOGIN</button>
      </div>
    </form>
  </div>

</section>